#option-tree-header {

    #option-tree-logo {
        display: none;
    }

    #option-tree-version {
        font-size: 0px;
    }
}

.settings-wrap {
    .reset-settings {
        display: none;
    }
}