.contextual-tabs-wrap {
	position: relative;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.025);
	box-shadow: 0 1px 0 rgba(0,0,0,.025);
	overflow: hidden;

	td {
		padding: 20px 0px 20px 20px;

		&:first-child {
			padding-left: 0px;
			white-space: nowrap;
		}
	}
}
.contextual-tabs-header {
	float: left;
	margin: 1em 0;
	width: 17%;
	position: relative;
	z-index: 4;
}
.contextual-tabs-header .active {
	border-left: 2px solid #2ea2cc;
	background: #f6fbfd;
	-webkit-box-shadow: 0 2px 0 rgba(0,0,0,.02),0 1px 0 rgba(0,0,0,.02);
	box-shadow: 0 2px 0 rgba(0,0,0,.02),0 1px 0 rgba(0,0,0,.02);
	margin-right: -1px;
}
.contextual-tabs-header .active a {
	border-color: #e1e1e1;
}
.contextual-tabs-header li {
	list-style-type: none;
	border-style: solid;
	border-width: 0 0 0 2px;
	border-color: transparent;
}
.contextual-tabs-header a {
	display: block;
	padding: 5px 5px 5px 12px;
	line-height: 18px;
	text-decoration: none;
	border: 1px solid transparent;
	border-right: 0;
	border-left: 0;
	color: #333;
}
.contextual-tabs-header a:focus {
	box-shadow: none;
}
.contextual-tabs-bg {
	background: #f6fbfd;
	z-index: 3;
	left: 17%;
	right: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	border-left: 1px solid #e1e1e1;
}
.contextual-tabs-content {
	min-height: 500px;
	overflow: auto;
	padding: 20px;
	position: relative;
	z-index: 5;
}
.contextual-tabs-wrap .hide {
	display: none;
}
.contextual-tabs-wrap .form-table {
	display: table !important;
}
.contextual-tabs-wrap h3 {
	display: block !important;
}
.contextual-tabs-content img {
	cursor: pointer;
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
.field-inline {
	margin-top: 30px;
}
.field-inline label {
	display: block;
	margin-bottom: 10px;
}